on:
  pull_request:
    branches: [ master ]

jobs:
  black-format-check:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install black
        run: |
          python -m pip install --upgrade pip
          pip install black
      - name: Check formatting with Black
        run: |
          black --check --diff .